.filter-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000000;
  }
  
  .filter-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .filter-item label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .filter-item select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  